<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>figure_004.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>94</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>94</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>figure_001.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>93</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>93</integer>
			<key>originalHeight</key>
			<integer>65</integer>
		</dict>
		<key>figure_002.png</key>
		<dict>
			<key>x</key>
			<integer>169</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
		<key>figure_003.png</key>
		<dict>
			<key>x</key>
			<integer>96</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>72</integer>
		</dict>
	</dict>
</dict>
</plist>